<div>
    <!--a태그 href에서 #의 의미 -->
    <a href="#last">Last로 갑시다</a>

    {% for post in posts %}
    <div id="post-{{ post.pk }}">

        <!--사진-->
        <a href="{% url 'post:post_detail' post_pk=post.pk %}">
        <img src="{{ post.photo.url}}" alt="">
        </a>
        <hr>

        <!--댓글-->
        <ul id="post-comments-{{ post.pk }}">
            {% for comment in post.postcomment_set.all %}
            <li>{{ comment.content }}</li>
            {% endfor %}
        </ul>

        <!--댓글 달기-->
        <form action="{% url 'post:comment_create' post_pk=post.pk %}?next=/posts/#post-comments-{{ post.pk }}"
           method="POST">
            {% csrf_token %}
            {{ comment_form }}
            <button class="btn btn-primary btn-block">댓글달기</button>
        </form>
    </div>
    {% endfor %}

    <div id="last">Last</div>

</div>